*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}

* {
  scrollbar-color: $scroll-bg transparentize(white, 1);
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: $scroll-bg;
  border-radius: 10px;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.text {
  &-primary {
    color: $primary;
    text-shadow: none;
  }
  &-center {
    text-align: center;
  }
  &-muted {
    opacity: 0.5;
  }
}
.container {
  max-width: 980px;
  margin: auto;
}
.flex {
  display: flex;
}
.form {
  color: white;
  text-shadow: 0px 0px 1px #000000;
}
.logo {
  font-size: 1.5rem;
  padding: 1.5rem 0 4rem;
}
.heading {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.home {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: white;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }
}
.search {
  max-width: 400px;
  position: relative;
  .btn {
    position: absolute;
    right: -20px;
    top: 0;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    padding: 0;
    img {
      height: 1rem;
      margin-top: 4px;
    }
  }
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 4px #00000020;
  font-family: inherit;
  transition: all 0.15s ease-in-out;
  &:focus,
  &:active {
    box-shadow: 2px 2px 15px #00000030;
  }
}
.btn {
  display: inline-block;
  font-weight: 400;
  font-family: inherit;
  color: $text-color;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  outline: none;
  transition: all 0.15s ease-in-out;
  &:not(disabled) {
    cursor: pointer;
  }
  &-primary {
    color: white;
    background-color: $primary;
    border-color: $primary;
    &:hover {
      background-color: darken($primary, 5%);
      border-color: darken($primary, 5%);
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.col-3 {
  width: 33%;
  max-width: 33%;
  padding: 0 10px;
  margin-bottom: 20px;
}
.card {
  height: 220px;
  max-height: 220px;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.35s ease-in-out;
    &:not(.not-hover):hover {
      transform: scale(1.5);
    }
  }
}
.mt-n13 {
  margin-top: -13rem;
}
.not-hover {
  cursor: unset;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000060;
  z-index: 9999;
  .card {
    padding: 1rem;
    background: white;
    width: 600px;
    height: unset;
    max-width: 100%;
    max-height: 100%;
    &-body {
      position: relative;
      height: 350px;

      margin: 1rem 0 0;
      border-radius: 0.2rem;
      overflow: hidden;
      &:hover {
        .btn-collapse {
          transform: translateY(0);
        }
      }
    }
  }
}

.close-btn {
  height: 1.5rem;
  width: 1.5rem;

  cursor: pointer;
}
.profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  border: 1px solid #00000020;
  img {
    height: 100%;
    width: 100%;
  }
}

.title {
  font-size: 1rem;
  font-weight: 600;
}
.sub-title {
  font-size: 13px;
  font-weight: 500;
}

.btn-collapse {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 3rem 2rem;
  background: #00000080;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 0.25s ease-in-out;
}
.my-2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
